

<div class="banner" style="background-image: url('https://source.unsplash.com/category/food/1000x800')">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
    <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), {class: "btn-btn-danger btn-lg"} %>
    <ul>
      <% @cocktail.doses.each do |dose| %>
      <li>
        <%= dose.description %> of <%= dose.ingredient.name %>
       (<%= link_to "delete", cocktail_doses_path(@cocktail, dose), method: :delete %>)
      </li>
      <% end %>
    </ul>
  </div>
</div>




