<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <% if @dose.errors.any? %>
          <ul>
          <% @dose.errors.full_messages.each do |message| %>
            <li> <%= message %></li>
          <% end %>
          </ul>
        <% end %>
        <%= f.input :description, placeholder: "2 teaspoons" %>
        <%= f.input :ingredient_id, collection: Ingredient.all, prompt: "Choose one" %>
        <%= f.submit "Add dose", class: "btn btn-danger" %>
      <% end %>
      </div>
    </div>
</div>
